body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#game {
    margin-top: 20px;
}

.track {
    position: relative;
    width: 90%;
    height: 35px;
    background: #a0a0a0;
    margin: 0px auto;
    border: 2px dashed #fcffff;

}

.car {
    position: absolute;
    width: 60px;
    height: 30px;
	background-image: url('/images/car-brown.svg');
	background-size: contain; /* Масштабирует изображение, чтобы оно поместилось целиком */
    background-repeat: no-repeat; /* Убирает повторение */
    background-position: center; /* Центрирует изображение */
    border-radius: 5px;
    transition: left 0.1s ease;
}

.car:nth-child(2) {
    background-color: blue;
}

.car:nth-child(3) {
    background-color: green;
}

.car:nth-child(4) {
    background-color: yellow;
}

.car.current-player {
	background-image: url('/images/car-green.svg');
}

.txtInput {
  color: #555;
  width: 98%;
  height: 35px;
  font-family: Arial, serif;
  font-size: 26px;
  margin-top: 2px;
  margin-bottom: 10px;
  background: transparent none repeat scroll 0;
  border-width: medium;
}

.txtInput-unfocused {
  color: #CCC;
}

.txtInput-error {
  background-color: #d08383;
}

.verify {
	color: green;
}